.container-fluid.footer#footer
  ul.nav.nav-justified
    li(role="presentation") 
      a(href="/") Home 
    li(role="presentation") 
      a(href="/register") Register 
    li(role="presentation") 
      a(href="/login") Login
    li(role="presentation") 
      a(href="/admin") Admin Pannel
  .row
    .col-xs-1.col-sm-2.col-md-4
    .col-xs-10.col-sm-8.col-md-4.social
      a(href="#")
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-facebook.fa-stack-1x
      a(href="#")
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-twitter.fa-stack-1x
      a(href="#")
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-twitch.fa-stack-1x
      a(href="#")
        span.fa-stack.fa-lg
          i.fa.fa-circle.fa-stack-2x
          i.fa.fa-slack.fa-stack-1x
    .col-xs-1.col-sm-2.col-md-4

  
