.container-fluid.intro
  #stars
  #stars2
  #stars3
  h1#title 
    a(href="/") X-Wing League Table
  .centerbox
      img(src="images/FOTie.png")
      img(src="images/poe.png")
  .centerbox
    ul.nav.nav-justified
      li(role="presentation") 
        a(href="/#leaderboard") Leaderboard 
      li(role="presentation") 
        a(href="/#statistics") Statistics 
      li(role="presentation") 
        a(href="/#footer") Social Links
      li(role="presentation") 
        a(href="/admin") Admin Pannel
