extends ./layout.pug

block prepend body
  body
    include ./partials/header.pug
    .test
      .container-fluid#admin-pannel
        if (!user)
          .login
            h1 Login Page
            p.lead Admin Pannel
            form(role='form', action="/login",method="post", style='max-width: 300px;')
              .form-group
                  input.form-control(type='text', name="username", placeholder='Enter Username')
              .form-group
                input.form-control(type='password', name="password", placeholder='Password')
              button.btn.btn-default(type='submit') Submit
              span &nbsp;
              a(href='/')
                button.btn.btn-primary(type="button") Cancel  
        if (user)
          p You are currently logged in as #{user.username}
          .admin-pannel
            .row
              .col-xs-3
                <!-- Nav tabs -->
                ul.nav.nav-tabs.tabs-left
                  li.active
                    a(href="#game" data-toggle="tab") Add Game Results
                  li
                    a(href="#user" data-toggle="tab") Add New User


              .col-xs-9
                <!-- Tab panes -->
                .tab-content
                  .tab-pane.active#game
                    form(role='form', action="/addGame",method="post")
                      .row
                        .col-md-7
                          h2 Player 1
                          input(type="textbox" name="Player1Name" placeholder="Player1 Name")
                          #player1Ships
                          h4 Add a ship
                          i.fa.fa-plus-square-o.fa-2x#addShipPlayer1
                        .col-md-5.adminPoints
                          h3 Points Earned
                          input(type="range" id="Player1PointsEarned" name="Player1PointsEarned" min="0" max="100" style="max-width:150px;")
                          span#Player1PointsEarnedDisplay
                            h3 0
                      .row
                        .col-md-7
                          h2 Player 2
                          input(type="textbox" name="Player2Name" placeholder="Player2 Name")
                          #player2Ships
                          h4 Add a ship
                          i.fa.fa-plus-square-o.fa-2x#addShipPlayer2
                        .col-md-5.adminPoints
                          h3 Points Earned
                          input(type="range" id="Player2PointsEarned" name="Player2PointsEarned" min="0" max="100" style="max-width:150px;")
                          span#Player2PointsEarnedDisplay
                            h3 0
                      .row.gameSubmit
                        button.btn.btn-default(type='submit') Submit
                  .tab-pane#user
                    h2 Register Admin
                    p.lead Create a new admin account here.
                    br
                    form(role='form', action="/register",method="post", style='max-width: 300px;')
                      .form-group
                          input.form-control(type='text', name="username", placeholder='Enter Username')
                      .form-group
                        input.form-control(type='password', name="password", placeholder='Password')
                      button.btn.btn-default(type='submit') Submit
                      span &nbsp;
                      a(href='/')
                        button.btn.btn-primary(type="button") Cancel

 
          a(href="/logout") Logout
      include ./partials/footer.pug
