extends ./layout.pug

block prepend body
  body.homepage(onload="initialize()")
    
    .container-fluid.intro
      #stars
      #stars2
      #stars3
      h1#title SkyGym
      .centerbox
          img(src="images/planet.png")
          img(src="images/GasGiant-Ca04.png")
          img(src="images/render_saturn.png")
      .centerbox
        i.fa.fa-angle-down.infinitor
    .container-fluid.map
      .row
        .col-4-md
        .col-4-md
          #WWTCanvas(style="width:500px; height:500px; border-style: none; border-width: 0px;")
        .col-4-md
    .container-fluid.footer
