extends ./layout.pug

block prepend body
  body.homepage(onload="initialize()")
    
    .container-fluid.intro
      #stars
      #stars2
      #stars3
      h1#title SkyGym
      .centerbox
          img(src="images/planet.png")
          img(src="images/GasGiant-Ca04.png")
          img(src="images/render_saturn.png")
      .centerbox
        i.fa.fa-angle-down.infinitor
    .container-fluid.map
      h2 Journey of discovery . . .
      p  
        |Sky Gym is a resource to help you learn to code websties. As you journey
        |from the inner solar system to outer universe you will learn invalubale lessons
        |that will give you a solid foundation in HTML, CSS, and Javascript.
    .container-fluid.footer
