doctype html(lang='en')

head
  meta(name="viewport", content="width=device-width, initial-scale=1", charset="UTF-8")
  title SkyGym
  
  //Stlyesheets
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel="stylesheet" href="stylesheets/bootstrap-3.3.7-dist/css/bootstrap.min.css" type="text/css") 
  link(rel="stylesheet" href="//opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css")
  link(rel="stylesheet", href="/stylesheets/style.css")


  // Scripts
  script(src="//code.jquery.com/jquery-3.1.0.min.js")
  script(src="http://www.worldwidetelescope.org/scripts/wwtsdk.aspx" type="text/javascript")


body
  block body
    
    script(src="javascript/skymap.js")
